<div class="text-center mt-12 text-4xl text-indigo-500">Welcome!!!!</div>
<h2 class="text-center mt-12 text-2xl text-gray-400">
    You have successfully logged In using token based authentication.<br>
    If you check cookies you will see your access token<br>
    When you log out your cookies will be cleared and you will be redirected to /
</h2>
<div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <button id='logout-btn'class="bg-indigo-500 py-4 px-8 text-white rounded-xl">Log Out</button>
</div>