<div class="text-center mt-12 text-4xl text-indigo-500">Welcome!!!!</div>
<div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"><button id='logout-btn'class="bg-indigo-500 p-8 text-white rounded-xl">Log Out</button></div>